html {
	margin:0 !important;
	width: 100% !important;
}

body {
	background-color: #E1EAFB;
	width: 100% !important;
	margin: 0 !important;
}

nav {
	padding-top: 13px  !important;
	padding-bottom: 13px !important;
	font-family: Segoe UI !important;
	font-size: 14px;
	font-weight: 600;
}
a {
	text-decoration: none !important;
}
.active:hover {
	color: #ffffffb3 !important;
}

.btn-status {
	border: 1px solid lightgrey;
	font-size: 12px;
}

.btn-status:hover {
	background-color: #496FC0;
	color: #fff;
}
.no-link:hover {
	background: none !important;
	color: #000 !important;
}

/* Tooltip Customize */


.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	filter: alpha(opacity=0);
	opacity: 0;

	line-break: auto;
}
.tooltip.in {
	filter: alpha(opacity=90);
	opacity: .9;
}
.tooltip.top {
	padding: 5px 0;
	margin-top: -3px;
}
.tooltip.right {
	padding: 0 5px;
	margin-left: 3px;
}
.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px;
}
.tooltip.left {
	padding: 0 5px;
	margin-left: -3px;
}
.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 4px;
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
	right: 5px;
	bottom: 0;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}


/* # Tooltip Customize */

/* Dropdown Menu Customize */

.dropdown-item {
	padding: 4px 10px 4px 16px;
	font-size: 14px;
}

.dropdown-item:hover {
	background-color: #007bff;
	color: #fff;
}


/* WITHINGS */

.stars {
	background:#4970c1 url(../img/sky-stars.jpg) repeat;
}

.bosluk {
	    padding-bottom: 1px;
}

.icon-b {
	font-size: 36px;
}

.footer {
	background-color: #FFF;
}

div a .align1 {
	text-align: right !important;
}

.container {
	width: 50%;
}