/* Genel */
#genel {background-color: #ccc; width: 900px; height: 500px; margin: 0 auto;}

/* Header */
#header {background-color: #ddd; width: 900px; height:150px;}
ul,li {margin: 0; padding: 0; list-style: none; float: left}
ul#menu {border: 1px solid #ccc; background-color: #f1f1f1; font: 12px Verdana; overflow: auto;}
ul#menu li {float: left}
ul#menu li a {text-decoration: none; display: block; color: #333; background-color: #f1f1f1; padding: 10px}
ul#menu li a:hover {color: white; background-color: #000}
ul#menu li a.aktif {color: yellow; background-color: #000}

/* Right */
#right {background-color: #eee; width: 200px; height:400px; float: right}

/* Left */
#left {background-color: #bbb; width: 700px; height:500px; float: left}

	/* Blok */
	.blok {background-color: lightblue; width: 350px; height: 200px; float: left; margin: 0 auto}

/* Footer */
#footer {background-color: #ccc; width: 900px; height: 50px}